<a href="/marketplace/product/{{product_id}}">
    <div class="product-card flex-column justify-center align-center p-3">
        <div class="card-header p-2">
            <img src="/images/{{render_category_image category}}">
        </div>
        <div class="card-body p-2">
            <ul>
                <li class="product-name" id="card-body-name" value="{{name}}">{{format_product_card_name name}}</li>
                <li class="product-price" id="card-body-price" value="{{price}}">${{price}}</li>
                <li class="product-condition" id="card-body-condition" value="{{condition}}">{{condition}}</li>
                <li class="product-date-created" id="card-body-date-created" value="{{date_created}}">Listed on
                    {{format_date date_created}}</li>
            </ul>
        </div>
        <div class="card-footer display-flex justify-center align-center">
            <button class="remove-from-cart-button button-2" data-id="{{id}}">
                Remove from cart
            </button>
        </div>
    </div>
</a>