<tr>
    <td class="checkout-product-name">{{name}} </td>
    <td class="checkout-product-condition">{{condition}}</td>
    <td class="checkout-product-price" data-price="{{price}}" value="{{price}}">${{price}}</td>
    <td><button class="remove-from-cart-button button-2" data-id="{{id}}">Remove</button></td>
</tr>