
<tr>
    <td class="product-name" id="card-body-name" value="{{name}}">{{name}} <i>{{condition}}</i></td>
            
    <td class="checkout-product-price" id="card-body-price" value="{{price}}">${{price}}</td>
           
    <td><button class="remove-from-cart-button button-2" data-id="{{id}}">Remove</button></td> 
</tr>