<a href="/marketplace/product/{{id}}">
    <div class="product-card flex-column justify-center align-center p-3">
        <div class="card-header p-2">
            <img src="/images/{{render_category_image category}}">
        </div>
        <div class="card-body p-2">
            <ul>
                <li class="product-name" id="card-body-name" value="{{name}}">{{format_product_card_name name}}</li>
                <li class="product-price" id="card-body-price" value="{{price}}">${{price}}</li>
                <li class="product-condition" id="card-body-condition" value="{{condition}}">{{condition}}</li>
                <li class="product-date-created" id="card-body-date-created" value="{{date_created}}">Listed on
                    {{format_date date_created}}</li>
            </ul>
        </div>
        <div class="card-footer display-flex justify-space-between align-center">
            {{#ifEquals user_id @root.id}}
            <button class="my-listing-button button-3 button-long">My listing</button>
            {{else}}
                {{#if @root.wishlist_products}}
                        {{#ifInArrayOfObj "product_id" id @root.wishlist_products}}
                            <button class="remove-from-wishlist-button button-3" data-id="{{find_id_by_product_id id @root.wishlist_products}}">
                            Remove from wishlist
                            </button>
                        {{else}}
                            <button class="add-to-wishlist-button button-1"
                            data-name = "{{name}}"
                            data-price="{{price}}"
                            data-condition="{{condition}}"
                            data-description="{{description}}"
                            data-date_created="{{date_created}}"
                            data-category="{{category}}"
                            data-product_id="{{id}}"
                            data-seller_username="{{user.username}}">
                            Add to wishlist
                            </button>
                        {{/ifInArrayOfObj}}
                {{else}}
                <button class="add-to-wishlist-button button-1"
                data-name = "{{name}}"
                data-price="{{price}}"
                data-condition="{{condition}}"
                data-description="{{description}}"
                data-date_created="{{date_created}}"
                data-category="{{category}}"
                data-product_id="{{id}}"
                data-seller_username="{{user.username}}">
                Add to wishlist
                </button>
                {{/if}}

                {{#if @root.cart_products}}
                        {{#ifInArrayOfObj "product_id" id @root.cart_products}}
                            <button class="remove-from-cart-button button-3" data-id="{{find_id_by_product_id id @root.cart_products}}">
                            Remove from cart
                            </button>
                        {{else}}
                            <button class="add-to-cart-button button-1"
                            data-name = "{{name}}"
                            data-price="{{price}}"
                            data-condition="{{condition}}"
                            data-description="{{description}}"
                            data-date_created="{{date_created}}"
                            data-category="{{category}}"
                            data-product_id="{{id}}"
                            data-seller_username="{{user.username}}">
                            Add to cart
                            </button>
                        {{/ifInArrayOfObj}}
                {{else}}
                <button class="add-to-cart-button button-1"
                data-name = "{{name}}"
                data-price="{{price}}"
                data-condition="{{condition}}"
                data-description="{{description}}"
                data-date_created="{{date_created}}"
                data-category="{{category}}"
                data-product_id="{{id}}"
                data-seller_username="{{user.username}}">
                Add to cart
                </button>
                {{/if}}
            {{/ifEquals}}
        </div>
    </div>
</a>
