<section class="marketplace-wrapper wrapper display-flex">
    {{> marketplace-side-nav}}
    <div class="marketplace-main">
        <div class="product-details-container">
            <div class="category-image">
                <img src="/images/{{render_category_image product.category}}">
            </div>
            <div class="product-details">
                <ul>
                    <li class="product-name" id="product-details-name">{{product.name}}</li>
                    <li class="product-price" id="product-details-price">${{product.price}}</li>
                    <li class="product-category" id="product-details-category">{{format_category_for_product_details product.category}}</li>
                    <li class="product-username" id="product-details-username">Listed by {{product.user.username}}</li>
                    <li class="product-date" id="product-details-date">Listed on {{format_date product.date_created}}
                    </li>
                    <li class="product-condition" id="product-details-condition">Condition: {{product.condition}}</li>
                    <li class="product-description" id="product-details-description">{{product.description}}</li>
                </ul>
                <div class="product-details-btn-container p-3">
                    {{#ifEquals product.user_id id}}
                    <button class="edit-product-button button-1" data-id="{{product.id}}">Edit</button>
                    <button class="delete-product-button button-1" data-id="{{product.id}}">Delete</button>
                    {{else}}
                    <button class="add-to-cart-button button-1" data-name="{{product.name}}"
                        data-price="{{product.price}}" data-condition="{{product.condition}}"
                        data-description="{{product.description}}" data-date_created="{{product.date_created}}"
                        data-category="{{product.category}}" data-product_id="{{product.id}}"
                        data-seller_username="{{product.user.username}}">Add to cart</button>
                    <button class="add-to-wishlist-button button-1" data-name="{{product.name}}"
                        data-price="{{product.price}}" data-condition="{{product.condition}}"
                        data-description="{{product.description}}" data-date_created="{{product.date_created}}"
                        data-category="{{product.category}}" data-product_id="{{product.id}}"
                        data-seller_username="{{product.user.username}}">
                        Add to wishlist
                    </button>
                    {{/ifEquals}}
                    <a href="/marketplace"><button class="button-2">Return to
                            listings</button></a>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/wishlist.js"></script>
<script src="/js/cart.js"></script>
<script src="/js/product.js"></script>