<section class="marketplace-wrapper display-flex">
    {{> marketplace-side-nav}}
    <div class="marketplace-main">
        <div class="product-details-container">
            <div class="category-image">
                Category Image
            </div>
            <div class="product-details">
                <ul>
                    <li class="product-name" id="product-details-name">{{product.name}}</li>
                    <li class="product-price" id="product-details-price">${{product.price}}</li>
                    <li class="product-category" id="product-details-category">{{format_category product.category}}</li>
                    <li class="product-username" id="product-details-username">Listed by {{product.user.username}}</li>
                    <li class="product-date" id="product-details-date">Listed on {{format_date product.date_created}}
                    </li>
                    <li class="product-condition" id="product-details-condition">Condition: {{product.condition}}</li>
                    <li class="product-description" id="product-details-description">{{product.description}}</li>
                </ul>
                <div class="product-details-btn-container p-3">
                    <button class="button-1" data-product_id="{{product.id}}">Add to cart</button>
                    <button class="add-to-wishlist-button button-1" data-product_id="{{product.id}}">Add to
                        wishlist</button>
                    <a href="/marketplace"><button class="button-2">Return to
                            listings</button></a>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/wishlist.js"></script>