<section class="marketplace-wrapper display-flex">
    {{> marketplace-nav}}
    <div class="marketplace-main">
        <div class="product-details-container">
            <div class="category-image">
                Category Image
            </div>
            <div class="product-details">
                <ul>
                    <li class="product-details-name">{{product.name}}</li>
                    <li class="product-details-price">${{product.price}}</li>
                    <li class="product-details-category">{{format_category product.category}}</li>
                    <li class="product-details-username">Listed by "seller's username"</li>
                    <li class="product-details-date">Listed on {{format_date product.date_created}}</li>
                    <li class="product-details-condition">Condition: {{product.condition}}</li>
                    <li class="product-details-description">{{product.description}}</li>
                </ul>
                <div class="product-details-btn-container p-3">
                    <button class="button-1" data-product_id="{{product.id}}">Add to cart</button>
                    <button class="button-1" data-product_id="{{product.id}}">Add to wishlist</button>
                    <a href="/marketplace"><button class="button-2">Return to
                            listings</button></a>
                </div>
            </div>
        </div>
    </div>
</section>